<template>
  <q-tab-panel :name="props.name">
    <div v-if="props.data.length !== 0">
      <q-card
        v-for="(item, index) in props.data"
        :key="index"
        flat
        bordered
        class="my-card my-2 bg-purple-100 text-purple-600 dark:bg-zinc-500 dark:text-zinc-200"
      >
        <span class="absolute text-xs flex items-center gap-1 right-2 top-2">
          <q-icon size="25px" name="article" />
        </span>
        <q-card-section>
          <div class="flex items-center text-center justify-center my-3">
            <COrders
              :orderNo="item.orderNo"
              :orderDate="item.orderDate"
              :price="item.orderPrice"
              :status="item.status"
            />
          </div>
        </q-card-section>

        <q-separator inset class="dark:bg-zinc-900" />

        <q-card-section>
          <q-scroll-area class="h-16">
            <div class="flex gap-5 no-wrap">
              <q-avatar square v-for="n in 3" :key="n">
                <img src="https://cdn.quasar.dev/img/avatar.png" />
              </q-avatar>
            </div>
          </q-scroll-area>
        </q-card-section>
      </q-card>
    </div>
    <q-card
      v-else
      class="my-card p-5 bg-purple-100 text-purple-600 text-center dark:bg-zinc-500 dark:text-zinc-200"
      ><q-icon name="warning" size="4rem" /><br />Ooops, there are no current
      orders ...</q-card
    >
  </q-tab-panel>
</template>

<script setup>
import COrders from "../COrders.vue";

const props = defineProps({
  name: String,
  data: Array
});
</script>
