<template>
  <q-tab-panel :name="props.name">
    <div class="grid grid-cols-3 gap-5 justify-between">
      <!-- // Deposit \\ -->

      <div class="lg:col-span-1 col-span-full">
        <div class="mt-3 pb-10 text-center">
          <CTitle
            ><span class="text-base font-normal">Wallet Balance: $</span
            >{{ Balance }}
          </CTitle>
        </div>
        <q-input
          type="number"
          class="my-2"
          filled
          color="purple dark:bg-zinc-500 dark:text-zinc-200"
          v-model="amountSlider"
          label="Amount"
          prefix="$"
          :rules="[(val) => (val >= 1 && val <= 100000) || '$ 1 - $ 100,000']"
        />
        <div class="grid grid-cols-4 gap-1 my-3">
          <CButtons
            class="text-xs"
            v-for="(item, i) in amountOptions"
            :key="i"
            @click="amountSlider = item"
            textColor="pink-600 dark:bg-zinc-600 dark:text-orange-400"
            :label="`\$${item}`"
          />
        </div>
        <q-slider
          v-model="amountSlider"
          :min="1"
          :max="100000"
          :step="100"
          label
          :label-value="`\$ ${amountSlider}`"
          color="purple dark:text-zinc-200"
          switch-label-side
        />
        <CButtons
          type="submit"
          class="w-full mt-5 dark:bg-zinc-900 dark:text-zinc-200"
          label="Deposit"
          active
        />
        <ul class="mt-3 text-xs">
          <li class="font-bold">
            Remaining:
            <span class="text-pink-500 dark:text-orange-400"
              >${{ amountSlider - -Balance }}</span
            >
          </li>
        </ul>
      </div>

      <div class="lg:col-span-2 col-span-full mt-2">
        <div class="grid grid-cols-3 gap-3 pb-5">
          <q-card
            clickable
            v-ripple
            v-for="(item, i) in payMethods"
            :key="i"
            @click="methods(i, item.name)"
            :class="[
              'my-card rounded-2xl text-center lg:text-xl text-xs cursor-pointer',
              activeMethod === item.name
                ? `text-pink-600 bg-pink-100 dark:bg-zinc-900 dark:text-orange-400`
                : `text-purple-600 bg-purple-100 dark:bg-zinc-600 dark:text-zinc-200`
            ]"
          >
            <img
              class="lg:h-40 h-16"
              :src="`../../../public/images/${item.image}`"
            />
            <q-card-section class="md:block hidden">
              {{ item.name }}
            </q-card-section>
          </q-card>
        </div>
        <!-- Deposit Terms -->
        <CTerms type="Deposit" :rules="depositTerms" />
      </div>
    </div>
    <q-separator spaced class="my-5 dark:bg-zinc-500" />
    <CTable
      type="Deposit"
      :cols="depositHistoryCols"
      :rows="depositHistoryRows"
    />
  </q-tab-panel>
</template>

<script setup>
import { ref } from "vue";
import CButtons from "../CButtons.vue";
import CTitle from "../CTitle.vue";
import CTerms from "./CTerms.vue";
import CTable from "./CTable.vue";

const Balance = ref(5000);
const depositAmount = ref(1);
const amountSlider = ref(1);
const amountOptions = ref([300, 1000, 2500, 5000, 10000, 25000, 50000, 100000]);
const payMethodsValue = ref(null);
const activeMethod = ref(null);
const payMethods = ref([
  { name: "MasterCard", image: "master.png" },
  { name: "Visa", image: "visa.png" },
  { name: "AmericanExpress", image: "experes.png" }
]);
const depositTerms = [
  {
    title: "Deposit range",
    description: "123 adasdas"
  },
  { title: "Deposit rule2", description: "the rule 2" }
];

// Deposit History Table Data
const depositHistoryCols = [
  {
    amount: "amount",
    label: "Amount",
    align: "left",
    field: "amount"
  },
  {
    name: "portal",
    align: "center",
    label: "Portal",
    field: "portal"
  },
  {
    name: "date",
    align: "center",
    label: "Date",
    field: "date",
    sortable: true
  },
  {
    name: "status",
    align: "center",
    label: "Status",
    field: "status"
  }
];
const depositHistoryRows = [
  {
    amount: 1200,
    portal: "MasterCard",
    date: "April 13 - 2022",
    status: "pending"
  },
  {
    amount: 5400,
    portal: "Visa",
    date: "July 13 - 2022",
    status: "failed"
  },
  {
    amount: 5400,
    portal: "Visa",
    date: "December 13 - 2021",
    status: "success"
  }
];

const props = defineProps({
  name: String
});
function methods(method, name) {
  payMethodsValue.value = method;
  activeMethod.value = name;
}
</script>
