<template>
  <div>
    <div v-if="props.rows.length > 0">
      <CTitle class="mb-5">{{ props.type }} history</CTitle>
      <q-table
        class="bg-purple-100 text-purple-600 dark:bg-zinc-900 dark:text-zinc-200 rounded-xl"
        :rows="props.rows"
        :columns="props.cols"
        row-key="name"
        v-model:pagination="pagination"
        hide-pagination
      >
        <template v-slot:body="props">
          <q-tr>
            <q-td v-if="type === 'Withdraw'" key="name" :props="props"
              >{{ props.row.name }}
            </q-td>
            <q-td v-if="type === 'Withdraw'" key="cardNo" :props="props"
              >{{ props.row.cardNo }}
            </q-td>
            <q-td> ${{ props.row.amount }} </q-td>
            <q-td key="portal" :props="props">
              {{ props.row.portal }}
            </q-td>
            <q-td key="date" :props="props">
              {{ props.row.date }}
            </q-td>

            <q-td key="status" :props="props">
              <q-btn
                align="between"
                :icon="
                  props.row.status === 'pending'
                    ? 'mdi-autorenew'
                    : props.row.status === 'success'
                    ? 'mdi-check'
                    : 'mdi-alert-circle-outline'
                "
                :class="[
                  props.row.status === 'pending'
                    ? 'pending'
                    : props.row.status === 'success'
                    ? 'success'
                    : 'failure',
                  'text-xs w-32 cursor-default'
                ]"
                :label="props.row.status"
              />
            </q-td>
            <q-td key="type" :props="props">
              <q-btn
                :class="[
                  props.row.type === 'deposit' ? 'success' : 'failure',
                  'text-xs w-32 cursor-default'
                ]"
                :label="props.row.type"
              />
            </q-td>
          </q-tr>
        </template>
      </q-table>
      <q-pagination
        class="justify-center mt-3"
        v-model="pagination.page"
        color="pageBtn"
        :max="pagesNumber"
        :max-pages="4"
        boundary-numbers
      />
    </div>
    <CTitle v-else class="mb-5 text-center"
      >You have no {{ props.type }} history !</CTitle
    >
  </div>
</template>

<script setup>
import { ref, computed, onMounted } from "vue";
import CTitle from "../CTitle.vue";

const props = defineProps({
  type: String,
  cols: Array,
  rows: Array
});
const pagination = ref({
  descending: true,
  page: 1,
  rowsPerPage: 5
  // rowsNumber: xx if getting data from a server
});
const pagesNumber = computed(() =>
  Math.ceil(props.rows.length / pagination.value.rowsPerPage)
);

onMounted(() => {
  if (props.rows.length <= 6) {
    document.querySelector(".q-pagination").remove();
    pagination.value.rowsPerPage = 6;
  }
});
</script>

<style scoped>
.q-table thead,
.q-table tr,
.q-table th,
.q-table td {
  @apply !border-pink-300 dark:!border-orange-300;
}

.pending {
  @apply bg-purple-100 text-purple-600 dark:bg-zinc-300 dark:text-zinc-900;
}
.success {
  @apply bg-green-100 text-green-600 dark:bg-green-400 dark:text-zinc-900;
}
.failure {
  @apply bg-pink-100 text-pink-600 dark:bg-orange-300 dark:text-zinc-900;
}
</style>
