<template>
  <q-list
    class="bg-purple-100 border-2 border-purple-200 dark:border-zinc-900 dark:bg-zinc-600 dark:text-zinc-200 rounded-2xl p-2"
  >
    <q-item>
      <q-item-section>
        <span class="text-center font-bold text-base"
          >{{ props.type }} Terms</span
        >
        <q-separator spaced class="bg-purple-500 dark:bg-zinc-900" />
        <span v-for="(item, i) in props.rules" :key="i">
          <q-item-label>{{ item.title }}</q-item-label>
          <q-item-label caption class="dark:text-zinc-300">{{
            item.description
          }}</q-item-label>
          <q-separator spaced inset class="dark:bg-zinc-500" />
        </span>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script setup>
const props = defineProps({
  type: String,
  rules: Array
});
</script>
