<template>
  <q-tab-panel :name="props.name">
    <div class="grid grid-cols-3 gap-5 justify-between">
      <!-- // Bank Card \\ -->
      <div class="lg:col-span-1 col-span-full">
        <span class="text-center flex justify-center font-bold text-base"
          >Card Information</span
        >
        <q-separator spaced class="bg-purple-500 dark:bg-zinc-900" />
        <div class="text-center mt-5 lg:block hidden">
          <CTitle
            ><span class="text-base font-normal">Wallet Balance: $</span
            >{{ balance }}
          </CTitle>
        </div>
        <q-select
          :disable="savedCards.length === 0"
          class="my-5 border-0"
          color="purple dark:text-zinc-200 rounded-xl"
          :label="
            savedCards.length > 0
              ? 'Select a card'
              : 'You have not saved a card yet!'
          "
          transition-show="scale"
          transition-hide="scale"
          filled
          v-model="savedCard"
          option-label="name"
          :options="savedCards"
          @update:model-value="selectCard(savedCard.name, savedCard.cardNo)"
        >
          <template v-if="savedCards.length > 0" v-slot:option="scope">
            <q-item v-bind="scope.itemProps">
              <q-item-section>
                <q-item-label>{{ scope.opt.name }}</q-item-label>
                <q-item-label
                  class="text-xs text-pink-600 dark:text-orange-400"
                  >{{ scope.opt.cardNo }}</q-item-label
                >
              </q-item-section>
            </q-item>
          </template>
        </q-select>
        <q-card
          class="my-card rounded-2xl text-purple-700 dark:text-zinc-200 bg-gradient-to-r from-purple-300 to-pink-300 dark:from-zinc-800 dark:to-blue-500"
        >
          <q-card-section>
            <span
              class="absolute lg:hidden items-center top-3 right-5 text-base text-purple-500 dark:text-zinc-200"
            >
              <span class="text-xs">$</span>{{ balance }}
              <q-icon name="wallet" size="25px" />
            </span>
            <q-input
              color="purple dark:text-zinc-200"
              borderless
              label="Name:"
              stack-label
              v-model="name"
              placeholder="John Doe"
            />
            <q-input
              color="purple dark:text-zinc-200"
              input-class="text-center font-bold text-base text-pink-600"
              label="Card No:"
              stack-label
              v-model="cardNo"
              mask="####  ####  ####  ####"
              fill-mask="*"
              unmasked-value
            />
            <div class="flex justify-between mt-2">
              <q-input
                borderless
                class="basis-1/2"
                input-class="text-center font-bold text-base text-pink-600"
                color="purple"
                v-model="cvv2"
                mask="#####"
                placeholder="*****"
              >
                <template v-slot:prepend>
                  <span class="text-sm dark:text-zinc-200">CVV2:</span>
                </template>
              </q-input>
              <q-input
                class="basis-1/2"
                input-class="text-center font-bold text-base text-pink-600"
                borderless
                color="purple"
                v-model="expireDate"
                mask="##/##"
                fill-mask="*"
                @update:model-value="expireDateValidate"
              >
                <template v-slot:prepend>
                  <span class="text-sm dark:text-zinc-200">Expire:</span>
                </template>
              </q-input>
            </div>
          </q-card-section>
        </q-card>
      </div>

      <!-- // Withdraw \\ -->
      <div class="lg:col-span-1 col-span-full">
        <q-input
          type="number"
          class="my-2"
          filled
          color="purple dark:bg-zinc-500 dark:text-zinc-200"
          v-model="amountSlider"
          label="Amount"
          prefix="$"
          :rules="[
            (val) =>
              (val >= 100 && val <= balance) || `$ 100 - $ ${balance} (Balance)`
          ]"
        />
        <div class="grid grid-cols-2 gap-2">
          <CButtons
            class="text-xs dark:text-orange-400"
            v-for="(item, i) in amountOptionsPercentage"
            :key="i"
            @click="addToAmountPercentage(item)"
            textColor="pink-600"
            :label="`${item}%`"
          />
        </div>
        <div class="grid grid-cols-4 gap-2 my-5">
          <CButtons
            class="text-xs dark:text-orange-400"
            v-for="(item, i) in amountOptions"
            :key="i"
            @click="
              item < balance ? (amountSlider = item) : (amountSlider = balance)
            "
            textColor="pink-600"
            :label="`\$${item}`"
          />
        </div>
        <q-slider
          v-model="amountSlider"
          :min="100"
          :max="balance"
          :step="100"
          label
          :label-value="`\$ ${amountSlider}`"
          color="purple dark:text-zinc-200"
          switch-label-side
        />
        <CButtons
          type="submit"
          class="w-full mt-5 dark:bg-zinc-900"
          label="Withdraw"
          active
        />
        <div class="flex justify-between">
          <ul class="mt-3 text-xs">
            <li>
              {{ withdrawFee }} % Withdraw fee :
              <span class="text-pink-500 font-bold dark:text-orange-400"
                >${{ (withdrawFee / 100) * amountSlider }}</span
              >
            </li>
            <li>
              You'll earned:
              <span class="text-pink-500 font-bold dark:text-orange-400"
                >${{ amountSlider - (withdrawFee / 100) * amountSlider }}</span
              >
            </li>
            <li class="font-bold">
              Remaining:
              <span class="text-pink-500 dark:text-orange-500"
                >${{
                  balance -
                  (amountSlider -
                    (withdrawFee / 100) * amountSlider +
                    (withdrawFee / 100) * amountSlider)
                }}</span
              >
            </li>
          </ul>
          <q-checkbox
            class="flex mt-3 text-xs"
            color="checkbox !text-pink-600 dark:text-orange-400"
            left-label
            v-model="rememberCart"
            label="Remember card"
            checked-icon="mdi-credit-card-outline"
            unchecked-icon="mdi-credit-card-off-outline"
          />
        </div>
      </div>
      <CTerms
        class="lg:col-span-1 col-span-full"
        type="Withdraw"
        :rules="withdrawTerms"
      />
    </div>
    <q-separator spaced class="my-5 dark:bg-zinc-500" />
    <CTable
      type="Withdraw"
      :cols="withdrawHistoryCols"
      :rows="withdrawHistoryRows"
    />
  </q-tab-panel>
</template>

<script setup>
import { ref } from "vue";
import CButtons from "../CButtons.vue";
import CTitle from "../CTitle.vue";
import CTerms from "./CTerms.vue";
import CTable from "./CTable.vue";

const balance = ref(5000);
const withdrawFee = ref(0.5);
const name = ref(null);
const amountSlider = ref(100);
const cardNo = ref(null);
const cvv2 = ref(null);
const expireDate = ref(null);
const amountOptionsPercentage = ref([25, 50, 75, 100]);
const amountOptions = ref([300, 1000, 2500, 5000, 10000, 25000, 50000, 100000]);
const rememberCart = ref(true);
const savedCard = ref(null);
const savedCards = [
  { name: "John Doe", cardNo: 1234567789043231 },
  { name: "Mehdi Allameh", cardNo: 1958383888000312 },
  { name: "Alex Mason", cardNo: 3131233334461233 }
];
const withdrawTerms = [
  {
    title: "Withdraw range",
    description: "123 adasdas"
  },
  { title: "Withdraw rule2", description: "the rule 2" }
];

// Deposit History Table Data
const withdrawHistoryCols = [
  {
    name: "name",
    label: "Name",
    align: "left",
    field: "name"
  },
  {
    name: "cardNo",
    align: "left",
    label: "Card",
    field: "cardNo"
  },
  {
    name: "amount",
    align: "left",
    label: "Amount",
    field: "amount"
  },
  {
    name: "date",
    align: "center",
    label: "Date",
    field: "date",
    sortable: true
  },
  {
    name: "status",
    align: "center",
    label: "Status",
    field: "status"
  }
];
const withdrawHistoryRows = [
  {
    name: "Alex Mason",
    cardNo: 3131233334461233,
    amount: 1200,
    date: "October 22 - 2022",
    status: "pending"
  },
];

const props = defineProps({
  name: String
});

function expireDateValidate() {
  let expireDateMonth = expireDate.value.split("/");
  if (expireDateMonth[1] > 12) {
    expireDateMonth[1] = 12;
    expireDate.value = expireDateMonth[0] + expireDateMonth[1];
  }
}

function addToAmountPercentage(amount) {
  amountSlider.value = balance.value * (amount / 100);
}

function selectCard(savedName, savedCardNo) {
  name.value = savedName;
  cardNo.value = savedCardNo;
}
</script>

<style>
.q-menu--square {
  @apply bg-purple-100 text-purple-600 dark:bg-zinc-900 dark:text-zinc-200;
}
.q-select {
  @apply rounded-xl dark:!bg-zinc-500;
}
</style>
