<template>
  <div class="q-pa-md">
    <CTitle class="mb-3">My addresses</CTitle>
    <div
      v-if="addressData.length != 0"
      class="grid lg:grid-cols-2 xl:grid-cols-3 gap-3 my-10"
    >
      <q-card
        v-for="(item, i) in addressData"
        :key="i"
        flat
        bordered
        class="my-card bg-purple-100 text-purple-600 dark:bg-zinc-900 dark:text-zinc-200"
      >
        <q-card-section>
          <div class="lg:text-base text-sm font-bold w-5/6">
            {{ item.fullAddress }}
          </div>
          <div class="flex flex-col gap-3 absolute top-3 right-3">
            <q-icon
              class="text-pink-600 dark:text-orange-400 cursor-pointer"
              size="1.6em"
              name="mdi-pencil-outline"
              @click="editAddress = true"
            />
            <q-icon
              class="text-pink-600 dark:text-orange-400 cursor-pointer"
              size="1.6em"
              name="mdi-delete-outline"
              @click="deleteAddressConfirm = true"
            />
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none flex flex-col gap-1">
          <div class="flex gap-2">
            <q-icon
              class="text-xl text-pink-500 dark:text-orange-400"
              name="mdi-home-city-outline"
            />{{ item.zone }}
          </div>
          <div class="flex gap-2">
            <q-icon
              class="text-xl text-pink-500 dark:text-orange-400"
              name="mdi-email-outline"
            />{{ item.postalCode }}
          </div>
          <div class="flex gap-2">
            <q-icon
              class="text-xl text-pink-500 dark:text-orange-400"
              name="mdi-phone-outline"
            />
            {{ item.phone }}
          </div>
          <div class="flex gap-2">
            <q-icon
              class="text-xl text-pink-500 dark:text-orange-400"
              name="mdi-target-account"
            />
            {{ item.name }}
          </div>
        </q-card-section>
      </q-card>
    </div>
    <q-card
      v-else
      class="my-card p-5 bg-purple-100 text-pink-600 text-center dark:bg-zinc-600 dark:text-orange-400"
      ><q-icon name="mdi-map-marker-remove-outline" size="4rem" /><br />Ooops,
      You have not added an address yet ... <br />
      <q-btn
        flat
        class="mt-2 text-xs text-purple-600 dark:text-zinc-200"
        icon="mdi-map-marker-plus-outline"
        label="Add new address"
      />
    </q-card>
    <q-dialog v-model="deleteAddressConfirm">
      <q-card
        class="bg-purple-100 text-purple-600 dark:bg-zinc-600 dark:text-zinc-200"
      >
        <q-card-section class="row items-center">
          <q-avatar
            class="bg-purple-200 text-purple-600 dark:bg-zinc-700 dark:text-zinc-200"
            icon="mdi-delete-outline"
          />
          <span class="q-ml-sm"
            >Do you really want to delete this address?</span
          >
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            label="No"
            class="text-pink-600 dark:text-orange-400"
            v-close-popup
          />
          <q-btn
            class="text-purple-600 dark:text-zinc-200"
            flat
            label="Yes, remove it."
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="editAddress">
      <q-card
        class="bg-purple-100 text-purple-600 dark:bg-zinc-600 dark:text-zinc-200 w-96"
      >
        <q-btn
          class="md:hidden absolute m-1 z-10 right-0"
          icon="close"
          flat
          round
          dense
          v-close-popup
        />
        <q-card-section class="row mt-3 justify-between items-center">
          <q-input
            class="sm:w-40 w-28"
            v-model="text"
            color="purple dark:text-zinc-200"
            label="Country"
          />
          <q-input
            class="sm:w-40 w-28"
            v-model="text"
            color="purple dark:text-zinc-200"
            label="City"
          />
          <q-input
            class="w-full"
            v-model="text"
            color="purple dark:text-zinc-200"
            label="Postal code"
          />
          <q-input
            class="w-full"
            v-model="text"
            color="purple dark:text-zinc-200"
            label="Phone"
          />
          <q-input
            class="w-full"
            v-model="text"
            color="purple dark:text-zinc-200"
            label="Recipient"
          />
          <q-input
            color="purple dark:text-zinc-200"
            class="w-full"
            v-model="text"
            type="textarea"
            label="Address"
          />
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            label="Cancel"
            class="text-pink-600 dark:text-orange-400"
            v-close-popup
          />
          <q-btn
            class="text-purple-600 dark:text-zinc-200"
            flat
            label="Update"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script setup>
import { ref } from "vue";
import CTitle from "../components/CTitle.vue";

const deleteAddressConfirm = ref(false);
const editAddress = ref(false);
const addressData = ref([
  // {
  //   fullAddress: "Canada, Montreal, zone 4th, street 22th, 21",
  //   zone: "Canada, Montreal",
  //   postalCode: "1233331233",
  //   phone: "09393237943",
  //   name: "Mehdi Allameh"
  // },
  // {
  //   fullAddress: "Iran, Khouzestan, Ahwaz, ....",
  //   zone: "Iran, Khouzestan",
  //   postalCode: "213333445",
  //   phone: "09393237943",
  //   name: "Mehdi Allameh"
  // }
]);
</script>
