<template>
  <div class="q-pa-md">
    <CTitle class="mb-3">Dashboard</CTitle>
    <CTopCards />
    <!-- My Orders -->
    <COrders :ordersData="ordersData" />
    <!-- Transaction History -->
    <div class="lg:p-5 my-5 p-3 rounded-xl bg-pink-100 dark:bg-zinc-600">
      <CTable
        type="Transactions"
        :cols="transactionHistoryCols"
        :rows="transactionHistoryRows"
      />
    </div>
  </div>
</template>

<script setup>
import CTitle from "../components/CTitle.vue";
import CTable from "../components/wallet/CTable.vue";
import CTopCards from "../components/dashboard/topCards.vue";
import COrders from "../components/dashboard/myOrders.vue";

const transactionHistoryCols = [
  {
    name: "amount",
    align: "left",
    label: "Amount",
    field: "amount"
  },
  {
    name: "date",
    align: "center",
    label: "Date",
    field: "date",
    sortable: true
  },
  {
    name: "status",
    align: "center",
    label: "Status",
    field: "status"
  },
  {
    name: "type",
    align: "center",
    label: "Type",
    field: "type"
  }
];
const transactionHistoryRows = [
  {
    amount: 1200,
    date: "October 22 - 2022",
    status: "pending",
    type: "deposit"
  },
  {
    amount: 2300,
    date: "September 22 - 2022",
    status: "failure",
    type: "withdraw"
  }
];
const ordersData = [
  {
    name: "Current",
    count: 4,
    image: "cart-arrow-down",
    link: "order?t=current"
  },
  { name: "Sent", count: 2, image: "cart-outline", link: "order?t=sent" },
  {
    name: "Returned",
    count: 0,
    image: "cart-arrow-up",
    link: "order?t=returned"
  },
  { name: "Canceled", count: 0, image: "cart-remove", link: "order?t=canceled" }
];

</script>

<style>
div.border-l-2:first-child {
  @apply !border-0;
}
</style>
