<template>
  <div class="q-pa-md">
    <CTitle> Edit profile </CTitle>
    <div class="grid grid-cols-2 items-center">
      <q-form
        @submit="onSubmit"
        class="q-gutter-md mt-10 lg:col-span-1 col-span-2"
      >
        <div
          class="flex gap-1 items-center justify-center"
          v-for="(item, i) in userData"
          :key="i"
        >
          <q-avatar size="120px">
            <img id="userAvatar" :src="item.picture.large" />
          </q-avatar>
          <div class="grid grid-row-2 gap-2 mx-3">
            <q-file
              class="hidden"
              borderless
              v-model="avatar"
              filled
              @update:model-value="onFileChange"
            />

            <CButton
              label="Upload avatar"
              @click="changeAvatar"
              active
              textColor="purple-700 dark:bg-zinc-900 dark:text-zinc-200"
            />
            <CButton
              label="Delete avatar"
              @click="deleteAvatarConfirm = !deleteAvatarConfirm"
              textColor="pink-500 dark:bg-zinc-600 dark:text-orange-400"
            />
            <q-dialog v-model="deleteAvatarConfirm">
              <q-card
                class="bg-purple-100 text-purple-600 dark:bg-zinc-600 dark:text-zinc-200"
              >
                <q-card-section class="row items-center">
                  <q-avatar
                    class="bg-purple-200 text-purple-600 dark:bg-zinc-700 dark:text-zinc-200"
                    icon="mdi-image-remove"
                  />
                  <span class="q-ml-sm"
                    >Do you really want to delete current avatar?</span
                  >
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn
                    flat
                    label="No"
                    class="text-pink-600 dark:text-orange-400"
                    v-close-popup
                  />
                  <q-btn
                    class="text-purple-600 dark:text-zinc-200"
                    flat
                    label="Yes, remove it."
                    v-close-popup
                    @click="deleteAvatar"
                  />
                </q-card-actions>
              </q-card>
            </q-dialog>
          </div>
        </div>

        <CInput
          v-model="name"
          label="Name"
          :rules="[(val) => (val && val.length > 0) || 'Please type something']"
        />

        <CInput
          v-model="email"
          label="Email"
          :rules="[
            (val) => (val && val.length > 0) || 'Please type a valid Email',
            isValidEmail
          ]"
        />

        <CInput
          v-model="mobile"
          maxlength="11"
          label="Mobile"
          :rules="[
            (val) =>
              (val !== null && val !== '') ||
              'Please enter a valid Mobile number',
            isValidMobileNumber
          ]"
        />

        <CInput
          v-model="age"
          maxlength="11"
          type="number"
          label="Age"
          :rules="[
            (val) => (val !== null && val !== '') || 'Please type your age',
            (val) => (val > 0 && val < 100) || 'Please type a real age'
          ]"
        />

        <q-toggle
          class="flex dark:text-zinc-200"
          v-model="accept"
          color="purple dark:text-orange-400"
          label="I accept the license and terms"
        />

        <div class="flex items-center justify-end gap-2">
          <q-icon
            name="info"
            class="rounded-full text-purple-600 dark:bg-zinc-600 dark:text-zinc-200 lg:hidden block"
            @click="icon = true"
            size="25px"
          />
          <CButton
            label="Edit"
            type="submit"
            active
            textColor="purple-700 dark:bg-zinc-900 dark:text-zinc-200"
          />
        </div>
      </q-form>
      <div class="col-span-1 w-5/6 lg:block mx-auto hidden">
        <q-img
          class="bg-[url('../../public/images/edit-vector.png')] dark:bg-[url('../../public/images/edit-vector-dark.png')] bg-cover"
        />
        <div
          class="text-xs text-purple-600 bg-purple-100 dark:bg-zinc-600 dark:text-zinc-200 shadow-xl w-full p-3 rounded-xl"
        >
          <span class="text-base font-bold">Description</span>
          <p class="whitespace-pre-line">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas
            purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris
            rhoncus aenean vel elit scelerisque, In egestas erat imperdiet sed
            euismod nisi porta lorem mollis
          </p>
        </div>
        <q-dialog v-model="icon">
          <q-card
            class="text-purple-600 bg-purple-100 dark:bg-zinc-600 dark:text-zinc-200"
          >
            <q-card-section class="row items-center q-pb-none">
              <div class="text-base font-bold">Description</div>
              <q-space />
              <q-btn icon="close" flat round dense v-close-popup />
            </q-card-section>

            <q-card-section>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas
              purus viverra accumsan in nisl nisi Arcu cursus vitae congue
              mauris rhoncus aenean vel elit scelerisque In egestas erat
              imperdiet sed euismod nisi porta lorem mollis
            </q-card-section>
          </q-card>
        </q-dialog>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useQuasar } from "quasar";
import { ref, computed, onMounted } from "vue";
import { useStore } from "vuex";
import CButton from "../components/CButtons.vue";
import CTitle from "../components/CTitle.vue";
import CInput from "../components/CInputs.vue";

const store = useStore();
const userData = computed(() => store.state.userModule.user.results);
const q = useQuasar();
const deleteAvatarConfirm = ref(false);
const name = ref(null);
const email = ref(null);
const mobile = ref(null);
const age = ref(null);
const icon = ref(false);
const accept = ref(false);
const avatar = ref(null);
const avatarSrc = ref(null);

function changeAvatar() {
  document.querySelector("input[type=file]").click();
}
function onFileChange() {
  let userAvatar = document.getElementById("userAvatar");
  const file = avatar.value;
  avatarSrc.value = URL.createObjectURL(file);
  userAvatar.src = avatarSrc.value;
  q.notify({
      color: "success",
      textColor: "white",
      icon: "cloud_done",
      message: "New avatar Uploaded."
    });
}
function deleteAvatar() {
  let userAvatar = document.getElementById("userAvatar");
  userAvatar.src = "https://cdn.quasar.dev/img/boy-avatar.png";
  q.notify({
    color: "success",
    textColor: "white",
    icon: "cloud_done",
    message: "Avatar removed."
  });
}
onMounted(async () => {
  await store.dispatch("getUser");
  const user = store.state.userModule.user.results[0];
  name.value = `${user.name.first} ${user.name.last}`;
  email.value = user.email;
  mobile.value = user.phone;
  age.value = user.dob.age;
});
function onSubmit() {
  if (accept.value !== true) {
    q.notify({
      color: "error",
      textColor: "white",
      icon: "warning",
      message: "You need to accept the license and terms first."
    });
  } else {
    q.notify({
      color: "success",
      textColor: "white",
      icon: "cloud_done",
      message: "Profile updated."
    });
  }
}
function isValidEmail() {
  const emailPattern =
    /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
  return emailPattern.test(email.value) || "Invalid Email";
}
function isValidMobileNumber() {
  const mobilePattern = /09(1[0-9]|3[1-9]|2[1-9])-?[0-9]{3}-?[0-9]{4}/;
  return mobilePattern.test(mobile.value) || "Invalid Mobile number";
}
</script>
