<template>
  <div class="q-pa-md">
    <CTitle>Favorites</CTitle>
    <div class="mt-10 grid xl:grid-cols-4 lg:grid-cols-3 grid-cols-2 gap-5">
      <q-card
        v-for="item in favorites"
        :key="item.id"
        class="my-card bg-purple-100 col-span-1 dark:bg-zinc-600"
      >
        <q-img class="w-full h-60" :src="item.image">
          <div
            class="absolute-bottom text-subtitle1 py-1 lg:text-base text-sm text-center bg-purple-200/70 text-purple-600 dark:bg-zinc-600/70 dark:text-zinc-200"
          >
            <p class="truncate">{{ item.title }}</p>
          </div>
        </q-img>
        <q-card-actions
          class="flex md:flex-row flex-col lg:justify-between justify-center"
        >
          <div>
            <q-btn
              flat
              round
              class="text-pink-500 dark:text-orange-400"
              icon="favorite"
              @click="deleteFavorite(item.id)"
            />
            <q-btn
              flat
              round
              class="text-purple-500 dark:text-zinc-200"
              icon="share"
              @click="openDial('bottom')"
            />
          </div>

          <q-btn
            class="text-pink-600 bg-pink-300/30 dark:text-zinc-200 dark:bg-zinc-600 text-xs"
            @click="productLink(item.image)"
            >View product</q-btn
          >
        </q-card-actions>
      </q-card>

      <q-dialog v-model="dialog" :position="position">
        <q-card style="width: 320px" class="rounded-t-2xl">
          <q-card-section
            class="row bg-purple-100 dark:bg-zinc-600 justify-center no-wrap"
          >
            <q-btn
              flat
              round
              class="text-green-600 dark:text-green-400 text-base"
              icon="mdi-whatsapp"
            />
            <q-btn
              flat
              round
              class="text-pink-600 dark:text-pink-400 text-base"
              icon="mdi-instagram"
            />
            <q-btn
              flat
              round
              class="text-blue-800 dark:text-blue-400 text-base"
              icon="mdi-facebook"
            />
            <q-btn
              flat
              round
              class="text-cyan-700 dark:text-cyan-400 text-base"
              icon="mdi-telegram"
            />
            <q-btn
              flat
              round
              class="text-blue-500 text-base"
              icon="mdi-linkedin"
            />
            <q-btn
              flat
              round
              class="text-red-500 dark:text-red-400 text-base"
              icon="mdi-email"
            />
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script setup>
import { ref, computed, onMounted } from "vue";
import { useStore } from "vuex";
import { Notify } from "quasar";
import CTitle from "../components/CTitle.vue";

const store = useStore();
const dialog = ref(false);
const position = ref("bottom");
const favorites = computed(() => store.state.favoritesModule.favorites);

onMounted(() => {
  store.dispatch("getFavorites");
});

function productLink(link) {
  window.open(link);
}

function deleteFavorite(id) {
  store
    .dispatch("deleteFavorite", id)
    .then((response) => {
      if (response.status === 200) {
        store.dispatch("getFavorites");
        Notify.create({
          message: `${response.data.title}, Removed from favorites!`,
          color: "success"
        });
      }
    })
    .catch((error) => {
      Notify.create({
        message: error.message,
        color: "error"
      });
    });
}

function openDial(pos) {
  position.value = pos;
  dialog.value = true;
}
</script>
