<template>
  <div class="q-pa-md">
    <CTitle class="mb-2">Messages</CTitle>
    <q-table
      @row-click="messageLink"
      class="mt-10 bg-purple-50 dark:bg-zinc-600 dark:text-zinc-200 md:p-0 p-3"
      card-class="bg-purple-50 text-purple-600 dark:bg-zinc-600 dark:text-zinc-200"
      :grid="$q.screen.xs"
      :rows="rows"
      :columns="columns"
      row-key="name"
      :filter="filter"
      v-model:pagination="pagination"
      hide-pagination
    >
      <template v-slot:top-left>
        <q-input
          filled
          color="purple dark:bg-zinc-500 dark:text-zinc-200"
          dense
          debounce="300"
          v-model="filter"
          placeholder="Search"
        >
          <template v-slot:prepend>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
    </q-table>
    <div class="flex flex-center mt-5">
      <q-pagination
        color="pageBtn"
        v-model="pagination.page"
        :max="pagesNumber"
        :max-pages="4"
        boundary-numbers
      />
    </div>
  </div>
</template>

<script setup>
import { ref, computed, onMounted } from "vue";
import CTitle from "../components/CTitle.vue";

const columns = [
  {
    headerClasses: "w-56",
    classes: "truncate max-w-xs",
    name: "from",
    required: true,
    label: "From",
    align: "left",
    field: (row) => row.name,
    format: (val) => `${val}`,
    sortable: true
  },
  {
    headerClasses: "w-32",
    classes: "truncate max-w-xs",
    name: "subject",
    align: "left",
    label: "Subject",
    field: "subject",
    sortable: true
  },
  {
    headerClasses: "w-96",
    classes: "truncate max-w-xl",
    name: "message",
    align: "left",
    label: "Message",
    field: "message",
    sortable: true
  },
  {
    headerClasses: "w-20",
    name: "date",
    label: "Date",
    field: "date",
    sortable: true
  }
];

const rows = [
  {
    name: "Frozen Yogurt",
    subject: 159,
    message: 6.0,
    date: "11/3/2022"
  },
  {
    name: "Ice cream sandwich",
    subject: 237,
    message: 9.0,
    date: "11/3/2022"
  },
  {
    name: "Eclair",
    subject: 262,
    message: 16.0,
    date: "11/3/2022"
  },
  {
    name: "Cupcake",
    subject: 305,
    message: 3.7,
    date: "11/3/2022"
  },
  {
    name: "Gingerbread",
    subject: 356,
    message: 16.0,
    date: "11/3/2022"
  },
  {
    name: "Jelly bean",
    subject: 375,
    message: 0.0,
    date: "11/3/2022"
  },
  {
    name: "Lollipop",
    subject: 392,
    message: 0.2,
    date: "11/3/2022"
  },
  {
    name: "Honeycomb",
    subject: 408,
    message: 3.2,
    date: "11/3/2022"
  },
  {
    name: "Donut",
    subject: 452,
    message: 25.0,
    date: "11/3/2022"
  },
  {
    name: "KitKat",
    subject: 518,
    message: 26.0,
    date: "11/3/2022"
  }
];
const filter = ref(null);
const pagesNumber = computed(() =>
  Math.ceil(rows.length / pagination.value.rowsPerPage)
);
const pagination = ref({
  descending: true,
  page: 1,
  rowsPerPage: 11
  // rowsNumber: xx if getting data from a server
});

onMounted(() => {
  if (rows.length <= 12) {
    document.querySelector(".q-pagination").remove();
    pagination.value.rowsPerPage = 12;
  }
});
const messageLink = function messageLink(e, row) {
  console.log(row);
};
</script>
