<template>
  <div class="q-pa-md">
    <CTitle> Order </CTitle>
    <div
      class="border-2 mt-10 border-purple-200 dark:bg-zinc-600 p-5 rounded-xl"
    >
      <q-tabs v-model="tab" align="justify" narrow-indicator class="q-mb-lg">
        <q-tab
          class="text-purple-600 dark:text-zinc-200"
          name="current"
          :label="`Current (${currentOrders.length})`"
        />
        <q-tab
          class="text-green-600 dark:text-green-400"
          name="sent"
          :label="`Sent (${sentOrders.length})`"
        />
        <q-tab
          class="text-orange-600 dark:text-orange-400"
          name="returned"
          :label="`Returned (${returnedOrders.length})`"
        />
        <q-tab
          class="text-pink-600 dark:text-pink-400"
          name="canceled"
          :label="`Canceled (${canceledOrders.length})`"
        />
      </q-tabs>

      <div class="q-gutter-y-sm">
        <q-tab-panels
          v-model="tab"
          animated
          transition-prev="fade"
          transition-next="fade"
          class="text-left dark:bg-zinc-600"
        >
          <currentOrder name="current" :data="currentOrders" />

          <sentOrder name="sent" :data="sentOrders" />

          <returnedOrder name="returned" :data="returnedOrders" />

          <canceledOrder name="canceled" :data="canceledOrders" />
        </q-tab-panels>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";
import { useRouter } from "vue-router";
import CTitle from "../components/CTitle.vue";
import COrders from "../components/COrders.vue";
import currentOrder from "../components/orders/currentOrder.vue";
import sentOrder from "../components/orders/sentOrder.vue";
import returnedOrder from "../components/orders/returnedOrder.vue";
import canceledOrder from "../components/orders/canceledOrder.vue";

const router = useRouter();
const tab = ref("current");
const currentOrders = [
  {
    orderNo: randomOrderNumber(),
    orderDate: "April 14, 2015",
    orderPrice: 3000,
    status: "Paid"
  },
  {
    orderNo: randomOrderNumber(),
    orderDate: "April 14, 2015",
    orderPrice: 223,
    status: "Paid"
  },
  {
    orderNo: randomOrderNumber(),
    orderDate: "April 14, 2015",
    orderPrice: 31233,
    status: "Paid"
  },
  {
    orderNo: randomOrderNumber(),
    orderDate: "April 14, 2015",
    orderPrice: 54433,
    status: "Paid"
  }
];
const sentOrders = [
  {
    orderNo: randomOrderNumber(),
    orderDate: "April 14, 2015",
    orderPrice: 3000,
    status: "Delivered"
  },
  {
    orderNo: randomOrderNumber(),
    orderDate: "April 14, 2015",
    orderPrice: 223,
    status: "Delivered"
  }
];
const returnedOrders = [
  // {
  //   orderNo: randomOrderNumber(),
  //   orderDate: "April 14, 2015",
  //   orderPrice: 3000,
  //   status: "Returned"
  // }
];
const canceledOrders = [
  // {
  //   orderNo: randomOrderNumber(),
  //   orderDate: "April 14, 2015",
  //   orderPrice: 3000,
  //   status: "Delivered"
  // },
  // {
  //   orderNo: randomOrderNumber(),
  //   orderDate: "April 14, 2015",
  //   orderPrice: 223,
  //   status: "Delivered"
  // }
];
onMounted(() => {
  if (router.currentRoute.value.query.t) {
    tab.value = router.currentRoute.value.query.t;
  }
});

function randomOrderNumber() {
  return Math.floor(Math.random() * 1e10);
}
</script>
