<template>
  <div class="q-pa-md">
    <CTitle class="mb-2">Wallet</CTitle>
    <q-card class="my-card w-full my-10 h-100 bg-purple-50 dark:bg-zinc-600">
      <q-tabs v-model="tab" class="text-teal">
        <router-link to="/wallet?t=deposit"
          ><q-tab
            class="text-purple-600 dark:text-zinc-200"
            label="Deposit"
            name="deposit"
        /></router-link>
        <router-link to="/wallet?t=withdraw">
          <q-tab
            class="text-purple-600 dark:text-zinc-200"
            label="Withdraw"
            name="withdraw"
          />
        </router-link>
      </q-tabs>

      <q-separator />

      <q-tab-panels
        v-model="tab"
        animated
        class="bg-purple-50 text-purple-600 dark:bg-zinc-600 dark:text-zinc-200"
      >
        <CDeposit name="deposit" />
        <CWithdraw name="withdraw" />
      </q-tab-panels>
    </q-card>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";
import { useRouter } from "vue-router";
import CTitle from "../components/CTitle.vue";
import CDeposit from "../components/wallet/CDeposit.vue";
import CWithdraw from "../components/wallet/CWithdraw.vue";
const router = useRouter();
const tab = ref("deposit");

onMounted(() => {
  if (router.currentRoute.value.query.t) {
    tab.value = router.currentRoute.value.query.t;
  }
});
</script>
