<template>
  <q-btn
    :type="props.type"
    :label="props.label"
    :class="[
      {
        'active mx-0': active,
        'rounded-none': true
      },
      `text-${textColor}`
    ]"
  />
</template>

<script setup>
const props = defineProps({
  label: String,
  type: String ?? null,
  textColor: String,
  active: Boolean
});
</script>
