<template>
  <q-input
    filled
    color="purple dark:bg-zinc-600 dark:text-zinc-200"
    :type="props.type"
    :label="props.label"
    lazy-rules
    :rules="props.rules"
  />
</template>

<script setup>
const props = defineProps({
  color: String,
  type: {
    default: "text",
    type: String
  },
  label: String,
  rules: Array
});
</script>
