<template>
  <div class="flex gap-5">
    <span
      class="text-xs flex lg:flex-row flex-col items-center lg:basis-auto basis-full"
      >Order No:
      <span class="font-bold text-base">{{ props.orderNo }}</span></span
    >
    <span
      class="text-xs flex lg:flex-row flex-col items-center lg:basis-auto basis-full"
      >Order date:
      <span class="font-bold text-base">{{ props.orderDate }}</span></span
    >
    <span
      class="text-xs flex lg:flex-row flex-col items-center lg:basis-auto basis-full"
      >Price: $<span class="font-bold text-base">{{ props.price }}</span></span
    >

    <span
      class="text-xs flex lg:flex-row flex-col items-center lg:basis-auto basis-full"
      >Status: <span class="font-bold text-base">{{ props.status }}</span></span
    >
  </div>
</template>

<script setup>
const props = defineProps({
  orderNo: Number,
  orderDate: String,
  price: Number,
  status: String
});
</script>
