<template>
  <router-link :to="{ name: props.link }">
    <q-item
      clickable
      v-ripple
      :class="{
        'text-purple-600 dark:text-zinc-200 transition-all duration-300': true,
        active: activeCheck === props.iconName
      }"
    >
      <q-item-section avatar>
        <q-icon
          :name="props.iconName"
          class="bg-white dark:bg-zinc-500 shadow-xl p-2 rounded-xl"
        />
        <span
          v-if="badge"
          class="absolute right-3 text-purple-500 dark:text-zinc-200"
          >10</span
        >
      </q-item-section>

      <q-item-section> {{ props.itemName }} </q-item-section>
    </q-item>
  </router-link>
</template>

<script setup>
const props = defineProps({
  link: String,
  iconName: String,
  itemName: String,
  activeCheck: String,
  badge: Boolean
});
</script>
