<template>
  <div class="lg:p-5 p-3 rounded-xl bg-pink-100 dark:bg-zinc-600">
    <CTitle class="mb-5">My orders</CTitle>
    <div class="grid grid-cols-4">
      <q-card
        v-for="(item, i) in ordersData"
        :key="i"
        @click="$router.push(item.link)"
        class="my-card cursor-pointer border-l-2 bg-purple-100 text-purple-600 border-pink-600 dark:border-orange-400 dark:bg-zinc-900 dark:text-zinc-200"
      >
        <q-card-section
          class="flex lg:flex-row flex-col gap-2 items-center lg:justify-start justify-center"
        >
          <q-icon
            :name="`mdi-${item.image}`"
            class="text-3xl lg:block hidden"
          ></q-icon>
          <q-icon :name="`mdi-${item.image}`" class="text-4xl lg:hidden block"
            ><q-badge class="dark:bg-orange-400 bg-pink-600" floating>{{
              item.count
            }}</q-badge></q-icon
          >
          <div class="lg:flex hidden flex-col">
            <span
              v-if="item.count > 0"
              class="text-xs text-pink-600 dark:text-orange-400"
              >{{ item.count }} Orders</span
            >
            <span v-else class="text-xs text-pink-600 dark:text-orange-400"
              >Nothing</span
            >
            <span class="text-xl font-bold">{{ item.name }} orders</span>
          </div>
          <span class="lg:hidden block text-xs">{{ item.name }}</span>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script setup>
import CTitle from "../CTitle.vue";

const props = defineProps({
  ordersData: Array
});
</script>
