<template>
  <div class="grid grid-cols-3 gap-2 my-10">
    <!-- My Profile -->
    <q-card
      @click="$router.push('/edit')"
      v-for="(item, i) in userData.results"
      :key="i"
      class="my-card cursor-pointer bg-purple-100 text-purple-600 dark:bg-zinc-600 dark:text-zinc-200"
    >
      <q-card-section class="flex justify-around items-center p-2">
        <q-icon
          class="md:w-max w-full md:text-8xl text-7xl"
          name="mdi-account-outline"
        />
        <div class="md:flex hidden flex-col">
          <div class="flex gap-1 items-center justify-end my-1">
            <span class="text-sm"
              >{{ item.name.first }} {{ item.name.last }}</span
            ><q-icon class="text-2xl" name="mdi-account-outline" />
          </div>
          <div class="flex gap-1 items-center justify-end my-1">
            <span class="text-sm">{{ item.phone }}</span
            ><q-icon class="text-2xl" name="mdi-cellphone" />
          </div>
          <div class="flex gap-1 items-center justify-end my-1">
            <span class="text-sm text-right truncate w-44">{{
              item.email
            }}</span
            ><q-icon class="text-2xl" name="mdi-email-outline" />
          </div>
          <div class="flex gap-1 items-center justify-end my-1">
            <span class="text-sm">{{ item.gender }}</span
            ><q-icon class="text-2xl" name="mdi-crown-outline" />
          </div>
        </div>
        <span class="md:text-5xl text-xs md:hidden">My Profile</span>
      </q-card-section>
    </q-card>
    <!-- My Wallet -->
    <q-card
      class="my-card bg-purple-100 text-purple-600 dark:bg-zinc-600 dark:text-zinc-200"
    >
      <q-card-section class="flex flex-col justify-between items-center p-2">
        <div class="flex w-full items-center justify-around">
          <q-icon
            class="md:w-max w-full md:text-8xl text-7xl"
            name="mdi-account-cash-outline"
          />
          <span class="md:text-5xl text-xs">$5,000</span>
        </div>
        <div class="md:flex hidden gap-2 w-full mt-5">
          <q-btn
            @click="$router.push('/wallet?t=deposit')"
            class="flex-1 active mx-0 rounded-none dark:bg-zinc-900 dark:text-zinc-200"
            label="Deposit"
          />
          <q-btn
            @click="$router.push('/wallet?t=withdraw')"
            class="flex-1 text-pink-500 dark:bg-zinc-700 dark:text-orange-400"
            label="Withdraw"
          />
        </div>
      </q-card-section>
    </q-card>
    <!-- My Addresses -->
    <q-card
      @click="$router.push('/addresses')"
      v-for="(item, i) in userData.results"
      :key="i"
      class="my-card cursor-pointer bg-purple-100 text-purple-600 dark:bg-zinc-600 dark:text-zinc-200"
    >
      <q-card-section class="flex justify-around items-center p-2">
        <q-icon
          class="md:w-max w-full md:text-8xl text-7xl"
          name="mdi-map-outline"
        />
        <div class="md:flex hidden flex-col">
          <div
            class="flex text-pink-600 dark:text-orange-400 gap-1 items-center justify-end my-1"
          ></div>
          <div class="flex gap-1 items-center justify-end my-1">
            <span class="text-sm"
              >{{ item.location.country }}, {{ item.location.city }}</span
            ><q-icon class="text-2xl" name="mdi-home-city-outline" />
          </div>
          <div class="flex gap-1 items-center justify-end my-1">
            <span class="text-sm">{{ item.location.postcode }}</span
            ><q-icon class="text-2xl" name="mdi-email-outline" />
          </div>
          <div class="flex gap-1 items-center justify-end my-1">
            <span class="text-sm"
              >{{ item.name.first }} {{ item.name.last }}</span
            >
            <q-icon class="text-2xl" name="mdi-target-account" />
          </div>
          <div class="flex gap-1 items-center justify-end my-1">
            <span class="text-sm">{{ item.phone }}</span>
            <q-icon class="text-2xl" name="mdi-cellphone" />
          </div>
        </div>
        <span class="md:text-5xl text-xs md:hidden">My addresses</span>
      </q-card-section>
    </q-card>
  </div>
</template>

<script setup>
import { computed } from "vue";
import { useStore } from "vuex";

const store = useStore();
const userData = computed(() => store.state.userModule.user);
</script>
