<template>
  <router-view />
</template>

<style>
/* remove input number type arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.q-btn--standard.bg-pageBtn {
  @apply !bg-purple-100 !text-purple-600 dark:!bg-zinc-900 dark:!text-zinc-200;
}
.q-btn--flat.text-pageBtn {
  @apply !text-purple-600 dark:!text-zinc-200;
}
.q-table th {
  @apply !border-pink-300 dark:!border-orange-300;
}
</style>
