<template>
  <q-layout view="lHh Lpr lff" class="shadow-2">
    <q-header elevated class="bg-purple-500 dark:bg-zinc-600">
      <q-toolbar>
        <q-btn
          class="lg:hidden"
          flat
          @click="drawer = !drawer"
          round
          dense
          icon="menu"
        />
        <span
          class="text-xs cursor-pointer truncate md:w-96 w-32 text-purple-100 dark:text-orange-400"
          @click="address = true"
          ><q-icon class="text-xl" name="mdi-map-marker-outline" />{{
            addressGroup
          }}</span
        >
        <q-dialog v-model="address">
          <q-card
            style="width: 600px"
            class="bg-purple-100 text-purple-600 dark:bg-zinc-600 dark:text-zinc-200"
          >
            <q-card-section>
              <div class="text-base">Your current address is:</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              <q-option-group
                :options="addressOpts"
                type="radio"
                v-model="addressGroup"
                color="pink dark:text-orange-400"
                @update:model-value="addressHandler"
              />
              <q-spinner-ball
                v-if="addressLoading"
                class="mx-auto"
                color="pink dark:text-orange-400"
                size="4em"
              />
            </q-card-section>
          </q-card>
        </q-dialog>
        <div class="navbar-icons ml-auto">
          <q-icon
            :name="themeItems[themeCounter]"
            @click="changeTheme"
            class="bg-purple-400 dark:bg-zinc-500 hover:bg-purple-800 shadow-xl p-2 rounded-xl cursor-pointer mx-1"
          />
          <q-icon
            v-for="(item, i) in navBarIconsItems"
            :key="i"
            :name="item.icon"
            class="bg-purple-400 dark:bg-zinc-500 hover:bg-purple-800 shadow-xl p-2 rounded-xl cursor-pointer mx-1"
          />
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      class="dark:bg-zinc-600"
      v-model="drawer"
      show-if-above
      :width="300"
      :breakpoint="1024"
    >
      <q-scroll-area
        class="border-r-2 border-purple-100 dark:border-zinc-500"
        style="height: calc(100% - 150px); margin-top: 150px"
      >
        <div
          class="w-full flex text-purple-700 bg-gradient-to-r from-purple-300 dark:from-zinc-800 dark:text-zinc-200 p-3"
        >
          Wallet Balance:
          <span class="text-2xl font-bold w-full text-center"
            ><span class="text-base">$</span>5000</span
          >
        </div>
        <drawerItems
          v-for="(item, index) in drawerListItems"
          :badge="item.badge"
          :key="index"
          :link="item.icon"
          :iconName="item.icon"
          :itemName="item.name"
          :activeCheck="activeCheck"
          @click="checkActiveItem(item.icon)"
        />
      </q-scroll-area>

      <q-img
        class="absolute-top bg-bottom bg-[url('../../public/images/trianglify-lowres.png')] dark:bg-[url('../../public/images/trianglify-lowres-dark.png')]"
        style="height: 150px"
      >
        <div
          class="absolute-bottom bg-transparent"
          v-for="(item, i) in userData.results"
          :key="i"
        >
          <q-avatar size="56px" class="q-mb-sm">
            <img :src="item.picture.large" />
          </q-avatar>
          <div class="text-weight-bold">
            {{ item.name.first }} {{ item.name.last }}
          </div>
        </div>
      </q-img>
    </q-drawer>

    <q-page-container>
      <q-page>
        <router-view></router-view>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script setup>
import drawerItems from "../components/drawerItems.vue";
import { ref, onMounted, computed } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";

const store = useStore();
const router = useRouter();
const userData = computed(() => store.state.userModule.user);

const drawerListItems = [
  { icon: "dashboard", name: "Dashboard" },
  { icon: "edit", name: "Edit profile" },
  { icon: "map", name: "My addresses" },
  { icon: "message", name: "Messages", badge: true },
  { icon: "wallet", name: "Wallet" },
  { icon: "shop", name: "Orders" },
  { icon: "favorite", name: "Favorites" }
];
const navBarIconsItems = [{ icon: "home" }, { icon: "logout" }];
const activeCheck = ref(router.currentRoute.value.name);
const drawer = ref(true);
const themeItems = ref(["laptop", "nightlight", "sunny"]);
const themeCounter = ref(0);
const address = ref(false);
const addressLoading = ref(false);
const addressOpts = ref([
  {
    label: "Canada, Montreal, zone 4th, street 22th, 21",
    value: "Canada, Montreal, zone 4th, street 22th, 21"
  },
  {
    label: "Iran, Khouzestan, Ahwaz, ....",
    value: "Iran, Khouzestan, Ahwaz, ...."
  }
]);
const addressGroup = ref(null);

onMounted(async() => {
  await store.dispatch("getUser");
  const user = store.state.userModule.user.results[0];
  document.title =`${user.name.first} ${user.name.last}`;
  themeCounter.value = localStorage.countTheme;
  addressGroup.value = localStorage.address;
});
function changeTheme() {
  themeCounter.value++;
  if (themeCounter.value === themeItems.value.length) {
    themeCounter.value = 0;
  }
  localStorage.countTheme = themeCounter.value;

  if (themeCounter.value === 1) {
    document.documentElement.classList.remove("light");
    document.documentElement.classList.add("dark");
    localStorage.theme = "dark";
  } else if (themeCounter.value === 2) {
    document.documentElement.classList.remove("dark");
    document.documentElement.classList.add("light");
    localStorage.theme = "light";
  } else {
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      document.documentElement.classList.add("dark");
      document.documentElement.classList.remove("light");
    } else {
      document.documentElement.classList.add("light");
      document.documentElement.classList.remove("dark");
    }
    localStorage.removeItem("theme");
  }
}

function checkActiveItem(itemName) {
  activeCheck.value = itemName;
}

function addressHandler() {
  addressLoading.value = true;
  localStorage.address = addressGroup.value;
  setTimeout(() => {
    address.value = false;
    addressLoading.value = false;
  }, 1500);
}
</script>

<style>
body {
  @apply dark:bg-neutral-700;
}
.q-radio {
  @apply !flex;
}
.active {
  @apply bg-purple-200 dark:bg-zinc-700 ml-3 rounded-l-2xl;
}
.q-field__messages,
.text-negative {
  @apply !text-pink-600 dark:!text-orange-400;
}
.bg-error {
  @apply !bg-pink-200 !text-pink-600 dark:!bg-orange-200 dark:!text-orange-500;
}
.bg-success {
  @apply !bg-purple-200 !text-purple-600 dark:!bg-zinc-600 dark:!text-zinc-200;
}
.q-field__native,
.q-field__label {
  @apply dark:!text-zinc-200;
}
.q-slider__text-container {
  @apply dark:bg-zinc-600 dark:text-zinc-200;
}
</style>
